html,
#main {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#top-row{
    display: flex;
    flex-direction: row;
    align-items: ;
}
#item1 #item2{
    
}
#item3 #item4 #item5 #item6{
    
}